{% if page.permalink == "/" %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@LettersFromN" />
<meta name="twitter:title" content="Letters From N: A Serialized Mystery Podcast" />
<meta name="twitter:description" content="A peculiar, serialized podcast weaving the convoluted story of a forgotten life. Following a trail of letters signed with the letter “N” alone, Cal must learn about the strange life of N and his own haunted past. Available on iTunes, Stitcher, and all other fine podcatchers." />
<meta name="twitter:image" content="https://lettersfromn.com/resources/img/mainlogo.png" />
{% elsif page.permalink == "/episodes/the-mountain-solemn-vow/" %}
<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@LettersFromN" />
<meta name="twitter:title" content="Letters From N #1: The Mountain-Solemn Vow" />
<meta name="twitter:description" content="Cal wakes on a mountain, only to realize he's lost his memory. Where did he come from? How can he survive this isolated trial he's been dropped in? Then he comes upon the crate. What about its mysteries? The author? A solemn vow must *not* be broken, without exception. I shall fear nothing." />
<meta name="twitter:image" content="https://lettersfromn.com/resources/img/episodes/1.jpg" />
<meta name="twitter:player" content="https://podtrac.com/player/NjIxMjc1/MQ2">
<meta name="twitter:player:stream" content="https://www.podtrac.com/pts/redirect.mp3/lettersfromn.com/resources/audio/the-mountain-solemn-vow.mp3">
<meta name="twitter:player:stream:content_type" content="audio/mp3">
{% elsif page.permalink == "/episodes/the-human-condition/" %}
<meta>
{% elsif page.permalink == "/episodes/manufactured-paranoia" %}
<meta>
{% else %}
{% endif %}
