<html>
<head>
  <title>Letters From N</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/js/foundation.min.js"></script>
  <link rel="stylesheet" href="resources/styles.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="author" content="Atticus Night">
  <title>{{ page.title}}</title>
</head>
<body>
  <div class="row fix-spacing">
    <div class="columns medium-2 fix-spacing" id="menu">
      <div class="icon-bar small-horizontal medium-vertical large-vertical four-up">
        <a class="item" href="index.html"><i class="fa fa-home"></i><label>Home</label></a>
        <a class="item" href="about.html"><i class="fa fa-info"></i><label>About</label></a>
        <a class="item" href="links.html"><i class="fa fa-headphones"></i><label>Listen</label></a>
        <a class="item" href="contact.html"><i class="fa fa-envelope-o"></i><label>Contact</label></a>
      </div>
    </div>
    <div class="column large-1 show-for-large-up fix-spacing">&nbsp;</div>