<html>
<head>
  <title>Letters From N: {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <meta name="author" content="Atticus Night" />
  <link rel="apple-touch-icon" sizes="57x57" href="/resources/img/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/resources/img/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/resources/img/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/resources/img/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/resources/img/signature.ico/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/resources/img/signature.ico/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/resources/img/signature.ico/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/resources/img/signature.ico/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/resources/img/signature.ico/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192"  href="/resources/img/signature.ico/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/resources/img/signature.ico/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/resources/img/signature.ico/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/resources/img/signature.ico/favicon-16x16.png" />
  <link rel="manifest" href="/resources/img/signature.ico/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/resources/img/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-64261094-1', 'auto');ga('require', 'linkid', 'linkid.js');ga('send', 'pageview');</script>
  <script>function _gaLt(event){var el = event.srcElement || event.target;while(el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)){el = el.parentNode;}if(el && el.href){var link = el.href;if(link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)){var hitBack = function(link, target){target ? window.open(link, target) : window.location.href = link;};var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;ga("send", "event", "Outgoing Links", link,document.location.pathname + document.location.search,{"hitCallback": hitBack(link, target)});event.preventDefault ? event.preventDefault() : event.returnValue = !1;}}}var w = window;w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1): w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});</script>
</head>
<body>
  <nav class="row" id="menu" role="navigation">
    <img href="/resources/img/logo.png" />
    <a href="/" class="col-xs-3 center-child {% if page.permalink == '/' %} bg-purple {% endif %}" id="home-link"><i class="fa fa-home cream"></i></a>
    <a href="/about/" class="col-xs-3 center-child {% if page.permalink == '/about/' %} bg-purple {% endif %}" id="about-link"><i class="fa fa-info cream"></i></a>
    <a href="/links" class="col-xs-3 center-child {% if page.permalink == '/links/' %} bg-purple {% endif %}" id="links-link"><i class="fa fa-headphones cream"></i></a>
    <a href="/contact/" class="col-xs-3 center-child {% if page.permalink == '/contact/' %} bg-purple {% endif %}" id="contact-link"><i class="fa fa-envelope-o cream"></i></a>
  </nav>
