<a href="https://www.facebook.com/sharer/sharer.php?u=http://lettersfromn.com{{ page.permalink }}" target="_blank" class="share-button" id="facebook-share-link"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
<a href="http://www.twitter.com/share?url=http://lettersfromn.com{{ page.permalink }}" target="_blank" class="share-button" id="twitter-share-link"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
<a href="//www.reddit.com/submit?url=http://lettersfromn.com{{ page.permalink }}" target="_blank" class="share-button" id="reddit-share-link"><i class="fa fa-reddit"></i></a>&nbsp;&nbsp;&nbsp;
<a href="https://plus.google.com/share?url=http://lettersfromn.com{{ page.permalink }}" target="_blank" class="share-button" id="g-share-link"><i class="fa fa-google-plus"></i></a>
